[submodule "ariadne"]
	path = ariadne
	url = https://github.com/lseman/ariadne
[submodule "ecosystem/memoriam"]
	path = ecosystem/memoriam
	url = https://github.com/lseman/memoriam.git
[submodule "ecosystem/graphician"]
	path = ecosystem/graphician
	url = https://github.com/lseman/graphician.git
[submodule "ecosystem/legroom"]
	path = ecosystem/legroom
	url = https://github.com/lseman/legroom.git
